<!doctype html>
<html>
    <head>
        <title>Tar Heel Hiker</title>
        <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/node_modules/openlayers/dist/ol.css">
        <link rel="stylesheet" href="/asset/hiker.css">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <ui-view>
            <div class="loader-overlay">
                Tar Heel Hiker Loading...
            </div>
        </ui-view>
        
        {% if DEV_ENV %}
        
        <!-- RequireJS / main app -->
        <script src="/asset/scripts/require.js" data-main="/asset/scripts/src/main.js"></script>
        
        {% else %}
        
        <script src="//aframe.io/releases/0.5.0/aframe.min.js"></script>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.min.js"></script>
        
        <script src="//cdn.rawgit.com/angular/bower-material/v1.1.3/angular-material.min.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/css-element-queries/0.4.0/ResizeSensor.min.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
        
        <script src="/asset/scripts/require.js" data-main="/asset/scripts/hiker.min.js"></script>
        
        {% endif %}
        
    </body>
</html>